.leaflet-zoom-box {
	width: 0;
	height: 0;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	z-index: 400;
	}

.leaflet-top,
.leaflet-bottom {
	position: absolute;
	z-index: 100;
	pointer-events: none;
	}