/*.nav-tabs-custom .nav-tabs li.active {
    border-top-color: #003399;
    background: #003399;
    background-color: #003399;
    color: #003399;
    border: 1px solid #003399;
}

.nav-tabs-custom .nav-tabs li.active:hover a, .nav-tabs-custom .nav-tabs li.active a {
background-color: transparent;
border-color: transparent;
}*/

.selectize-control {
  position: revert;
}

.content {
  padding-top: 60px;
}

.main-sidebar {
  position: fixed;
  overflow: visible;
}

.main-header {
  position: fixed;
  width:100%;
}